body{
  background-image: url(https://ununsplash.imgix.net/41/Vgu1RUfKT3WN1ZYxSWaR_14672519443_13d8873062_k.jpg?q=75&fm=jpg&s=18b79c01949f4c839d7709bc8818787e)
   
    
}
.container{
  display: flex;
  flex-direction: row;
  width: 1280px;
  height: 300px;
  margin-top: 8%;
  font-stretch: extra-expanded;
  font-size:x-large;
  margin-left: 20%;
}
.container  h1{
  font-family: 'Henny Penny', cursive;
  color: #694a38;
  flex-basis: auto;
   margin-left: 15%;
  font-stretch: extra-expanded;
  
}
.container1 {
  display: inline;
  width: 1280px;
  
  margin-top: 18%;
  width: 500px;
  height: 200px;
	
 
  
  margin-left: 60%;
  
 
  
}
.container1 p{
  font-family: 'Buda', cursive;
  color: #e5d5be;
  font-size: large;
  font-stretch: expanded;
  
  margin-left:85%;
  margin-top: 100px;
  padding-top: 40px;
  padding-right:0px;
  margin-right: 0px;
}
.container2 h2{
  width: 400px;
  height: 40px;
  font-family: 'Henny Penny', cursive;
  color: #faf0de;
  font-stretch: extra-expanded;
  margin-top: 0%;
  
  margin-left: 75%;
}
.container2{
  display: inline;
  text-align:center;
  
   
}
